<?xml version="1.0"?>
<config>
    <modules>
        <Paybear_Payment>
            <version>0.1.4</version>
        </Paybear_Payment>
    </modules>
    <global>
        <helpers>
            <paybear>
                <class>Paybear_Payment_Helper</class>
            </paybear>
        </helpers>

        <blocks>
            <paybear>
                <class>Paybear_Payment_Block</class>
            </paybear>
        </blocks>

        <models>
            <paybear>
                <class>Paybear_Payment_Model</class>
                <resourceModel>paybear_resource</resourceModel>
            </paybear>

            <paybear_resource>
                <class>Paybear_Payment_Model_Resource</class>
                <entities>
                    <payment>
                        <table>paybear_payment</table>
                    </payment>
                    <paymenttxn>
                        <table>paybear_payment_txn</table>
                    </paymenttxn>
                </entities>
            </paybear_resource>
        </models>

        <resources>
            <paybear_setup>
                <setup>
                    <module>Paybear_Payment</module>
                    <class>Paybear_Payment_Model_Resource_Setup</class>
                </setup>
            </paybear_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <paybear_payments>
                        <type>singleton</type>
                        <class>paybear/observer_config</class>
                        <method>adminSaveSettingsPaybear</method>
                    </paybear_payments>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </global>

    <default>
        <payment>
            <paybear>
                <active>0</active>
                <model>paybear/payment_method</model>
                <order_status>pending</order_status>
                <title>Crypto Payments </title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <testnet>0</testnet>
                <debug>0</debug>
            </paybear>
        </payment>
    </default>

    <frontend>
        <routers>
            <paybear>
                <use>standard</use>
                <args>
                    <module>Paybear_Payment</module>
                    <frontName>paybear</frontName>
                </args>
            </paybear>
        </routers>
        <layout>
            <updates>
                <paybear_layout module="Paybear_Payment">
                    <file>paybear.xml</file>
                </paybear_layout>
            </updates>
        </layout>
    </frontend>
</config>
